<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Agency Central</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('js/ext-4.0.7-gpl/resources/css/ext-all.css') }}" />
    </head>
    <body>
    	<div id="agency-central"></div>
        <script type="text/javascript" charset="utf-8" src="{{ asset('js/ext-4.0.7-gpl/ext-all-debug.js') }}"></script>
    	<script type="text/javascript" charset="utf-8" src="{{ asset('js/app.js') }}"></script>
    </body>
</html>
