<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Agency Central</title>
        <link rel="stylesheet" type="text/css" href="http://cdn.sencha.io/ext-4.0.7-gpl/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
    </head>
    <body>
        <script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.0.7-gpl/ext-all-debug.js"></script>
    	<script type="text/javascript" charset="utf-8" src="{{ asset('app.js') }}"></script>
    </body>
</html>